In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

from IPython.display import display
pd.options.display.max_columns = None

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [2]:
df = pd.read_csv('Data/29-06-22.csv')

In [3]:
df.isna().sum()

Unnamed: 0                   0
Códigodo fundo               1
Setor                        5
Preço Atual                  9
Liquidez Diária              9
Dividendo                    1
DividendYield                7
DY (3M)Acumulado             7
DY (6M)Acumulado             7
DY (12M)Acumulado            7
DY (3M)Média                 7
DY (6M)Média                 7
DY (12M)Média                7
DY Ano                      20
Variação Preço               7
Rentab.Período               7
Rentab.Acumulada             7
PatrimônioLíq.               1
VPA                          1
P/VPA                        9
DYPatrimonial               41
VariaçãoPatrimonial         41
Rentab. Patr.no Período     41
Rentab. Patr.Acumulada      41
VacânciaFísica             160
VacânciaFinanceira         253
QuantidadeAtivos             1
dtype: int64

In [4]:
columns_to_delete = ['Unnamed: 0', 'DY (3M)Acumulado', 'DY (6M)Acumulado', 'DY (3M)Média', 'DY (6M)Média', 'DY Ano', 'VPA', 
                     'DYPatrimonial', 'VariaçãoPatrimonial', 'Rentab. Patr.no Período', 'VacânciaFinanceira']
df2 = df.drop(columns=columns_to_delete)

In [5]:
#df2.drop(0, inplace=True)

In [6]:
#df2.fillna(0, inplace=True)

In [7]:
col_names = {
    'Códigodo fundo': 'Codigo',
    'Preço Atual': 'Preco_Atual',
    'Liquidez Diária': 'Liquidez_Diaria',
    'DividendYield': 'DY%',
    'DY (12M)Acumulado': 'DY%_12M_AC',
    'DY (12M)Média': 'DY%_12M_AVG',
    'DY Ano': 'DY%_Ano',
    'Variação Preço': 'Var_Preco_%',
    'Rentab.Período': 'Rent_Periodo_%',
    'Rentab.Acumulada': 'Rent_AC_%',
    'PatrimônioLíq.': 'PL',
    'P/VPA': 'P_VPA',
    'Rentab. Patr.Acumulada': 'Rent_Patr_AC',
    'VacânciaFísica': 'Vac_Fisica',
    'QuantidadeAtivos': 'Quant_Ativos'
}

In [8]:
df2.rename(columns=col_names, inplace=True)

In [9]:
#df2[df2.duplicated()]

In [10]:
#print(df2.isna().sum()/len(df2))

In [19]:
df2.isna().sum()

Codigo             0
Setor              0
Preco_Atual        0
Liquidez_Diaria    0
Dividendo          0
DY%                0
DY%_12M_AC         0
DY%_12M_AVG        0
Var_Preco_%        0
Rent_Periodo_%     0
Rent_AC_%          0
PL                 0
P_VPA              0
Rent_Patr_AC       0
Vac_Fisica         0
Quant_Ativos       0
dtype: int64

In [12]:
df2.dropna(subset=['Preco_Atual'], inplace=True)

In [13]:
df2[['Setor']] = df2[['Setor']].fillna('not_defined')
df2[['DY%', 'DY%_12M_AC', 'DY%_12M_AVG', 'Var_Preco_%',
     'Rent_Periodo_%', 'Rent_AC_%', 'Rent_Patr_AC',
     'Vac_Fisica']] = df2[['DY%', 'DY%_12M_AC',
                           'DY%_12M_AVG', 'Var_Preco_%', 'Rent_Periodo_%',
                           'Rent_AC_%', 'Rent_Patr_AC', 'Vac_Fisica']].fillna('0.00')

In [20]:
indexDividendo = df2[ df2['Dividendo'] == 0 ].index
df2.drop(indexDividendo, inplace=True)

In [15]:
df2.iloc[:, 2:] = df2.iloc[:, 2:].applymap(
    lambda x: float(
        x.replace('%', '').replace('R$', '').replace('.', '').replace(',','.')) if isinstance(x, str) else x)

In [22]:
df2.dtypes

Codigo              object
Setor               object
Preco_Atual        float64
Liquidez_Diaria    float64
Dividendo          float64
DY%                float64
DY%_12M_AC         float64
DY%_12M_AVG        float64
Var_Preco_%        float64
Rent_Periodo_%     float64
Rent_AC_%          float64
PL                 float64
P_VPA              float64
Rent_Patr_AC       float64
Vac_Fisica         float64
Quant_Ativos       float64
dtype: object

In [24]:
df2

,Codigo,Setor,Preco_Atual,Liquidez_Diaria,Dividendo,DY%,DY%_12M_AC,DY%_12M_AVG,Var_Preco_%,Rent_Periodo_%,Rent_AC_%,PL,P_VPA,Rent_Patr_AC,Vac_Fisica,Quant_Ativos
6,ORPD11,Títulos e Val. Mob.,93.00,3.0,1.38,0.00,0.00,0.00,0.00,0.00,0.00,4.361109e+07,0.62,0.00,0.00,0.0
7,FISC11,Lajes Corporativas,165.00,200.0,0.22,0.00,0.00,0.00,0.00,0.00,0.00,1.946826e+08,1.44,0.00,0.00,0.0
8,NSLU11,Hospital,137.12,2970.0,1.54,0.76,9.49,0.79,0.00,0.76,0.76,2.380284e+08,0.66,0.00,0.00,1.0
9,ATSA11,Shoppings,88.70,12.0,0.25,0.18,2.97,0.25,0.74,0.92,1.10,1.566117e+08,0.99,0.00,21.90,1.0
10,CXTL11,Logística,306.00,10.0,0.48,0.16,0.00,0.00,-6.12,-5.97,-5.73,3.705259e+07,0.44,0.00,61.00,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,CCRF11,Títulos e Val. Mob.,99.60,4.0,0.74,0.74,0.00,0.00,-0.10,0.64,5.74,1.593647e+08,0.98,4.87,0.00,0.0
279,EQIR11,Títulos e Val. Mob.,94.55,19.0,1.10,1.13,0.00,0.00,-2.65,-1.55,4.54,5.124036e+07,0.93,2.46,0.00,0.0
280,CNES11,Lajes Corporativas,33.06,341.0,0.09,0.27,3.59,0.30,0.29,0.56,4.86,2.553190e+08,0.38,0.20,56.70,1.0
281,BTRA11,Outros,84.97,9325.0,0.70,0.85,0.00,0.00,-19.34,-18.66,-12.21,3.476122e+08,0.82,2.67,0.00,0.0
282,EDGA11,Lajes Corporativas,17.80,1724.0,0.16,0.89,7.16,0.60,-6.88,-6.05,-14.31,2.523515e+08,0.27,0.36,48.81,1.0

In [18]:
df2.to_csv('Data/clean_data.csv')